<html>
  <head>
    <title>MJRoBot Lab Live Streaming</title>
  </head>
  <body>
    <h1>Security cam</h1>
    <h3><img src="{{ url_for('video_feed') }}" width="90%"></h3>
    <button id="scan"></button>
    <img src="" width="90%" id="scanned">
    <hr>
    {{JSGlue.include()}}
    <script>
        document.querySelector('#scan').addEventListener('click', (e) => {
            console.log("hello");
            const img = Flask.url_for('test_img', {});//e.returnValue
            if (img)
              document.querySelector("#scanned").setAttribute("src", img)
        })
    </script>
  </body>
</html>
